# Pandas Exercise
## Required Imports

In [1]:
import numpy as np
import pandas as pd
import math

## Data Loading

In [2]:
file_path = "data/Top 100 Private Colleges.2003.csv"

In [3]:
!ls data/

'Online Retail.csv'  'Top 100 Private Colleges.2003.csv'

In [4]:
data = pd.read_csv(file_path)

In [5]:
data.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank
0,1.0,California Institute of Technology,CA,939.0,21%,99/100%,3.0,71%,85%,10.0,"$32,682","$10,981",100%,93%,"$18,553",15%,"$10,244",4.0
1,2.0,Rice University,TX,2787.0,24%,89/92%,5.0,68%,89%,19.0,"$28,350","$14,779",100%,88%,"$22,418",34%,"$12,705",5.0
2,3.0,Williams College,MA,1985.0,23%,93/93%,8.0,89%,94%,1.0,"$36,550","$14,737",100%,89%,"$33,251",NaN,"$12,316",26.0
3,4.0,Swarthmore College,PA,1479.0,24%,94/98%,8.0,86%,92%,4.0,"$38,676","$17,386",100%,85%,"$11,404",2%,"$12,759",21.0
4,5.0,Amherst College,MA,1618.0,18%,94/92%,9.0,84%,94%,5.0,"$38,492","$14,453",100%,92%,"$33,411",NaN,"$11,544",38.0

In [6]:
data.dtypes

Overall Rank                     float64
School                            object
State                             object
Undergrad. Enrollment            float64
Admission Rate                    object
*SAT or ACT                       object
Student/faculty Ratio            float64
4-year Grad. Rate                 object
6-year Grad. Rate                 object
Quality Rank                     float64
Total Costs                       object
Cost After Need-based Aid         object
Need Met                          object
Aid From Grants                   object
Cost After Non-Need-Based Aid     object
Non-Need-Based Aid+               object
Average Debt                      object
Cost Rank                        float64
dtype: object

In [7]:
data.columns

Index(['Overall Rank', 'School', 'State', 'Undergrad. Enrollment',
       'Admission Rate', '*SAT or ACT', 'Student/faculty Ratio',
       '4-year Grad. Rate', '6-year Grad. Rate', 'Quality Rank', 'Total Costs',
       'Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
       'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt',
       'Cost Rank'],
      dtype='object')

## Data Cleaning

### Removing NaNs

In [8]:
def get_nan_indices(df, col_name):
    all_idxs = set(range(len(df.index)))
    filled_idxs = set(df[col_name].dropna().index.tolist())
    return all_idxs - filled_idxs

In [9]:
nan_idxs = set()
for column in data.columns:
    nan_idxs = nan_idxs.union(get_nan_indices(data, column))
print(nan_idxs)

{2, 4, 6, 8, 9, 10, 11, 12, 14, 17, 18, 19, 81, 22, 87, 26, 29, 32, 33, 98, 100, 101, 36, 39, 40, 41, 42, 43, 53}

In [10]:
clean_data_frame = data.copy()
clean_data_frame.drop(clean_data_frame.index[list(nan_idxs)], inplace=True)

### Further Cleaning

In [11]:
for column in clean_data_frame.columns:
    print(column, set(clean_data_frame[column]), sep = "\n", end="\n\n")

Overall Rank
{1.0, 2.0, 4.0, 6.0, 8.0, 14.0, 16.0, 17.0, 21.0, 22.0, 24.0, 25.0, 26.0, 28.0, 29.0, 31.0, 32.0, 35.0, 36.0, 38.0, 39.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 82.0, 84.0, 85.0, 86.0, 87.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 100.0}

School
{'Wake Forest University', 'California Institute of Technology', 'Vanderbilt University', 'Brigham Young University', 'Boston College', 'The George Washington University', 'Skidmore College', 'Hamilton College', 'Davidson College', 'Taylor University', 'Lawrence University', 'Dickinson College', "St. John's College", 'Furman University', "Saint John's University", 'Rhode Island School of Design', 'Grinnell College', 'St. Olaf College', 'Mount Holyoke College', 'Union College', 'New York University', 'Webb Institute', 'Emory University', 'College of the Holy Cross', 'DePauw University', 'Knox College', 'Illinois Wesleyan University', 'Washington University', 'Rhodes College', 'University of Southern California', 'Whitman College', 'Lafayette College', 'Duke University', 'Franklin and Marshall College', 'Barnard College', 'Wheaton College', 'Kenyon College', 'University of Rochester', 'Gustavus Adolphus College', 'Saint Louis University', 'Scripps College', 'Northwestern University', 'Rice University', 'Macalester College', 'Centre College', 'Washington and Lee University', 'Harvey Mudd College', 'Kalamazoo College', 'Smith College', 'The Colorado College', 'Beloit College', 'Babson College', 'Brandeis University', 'Case Western Reserve University', 'Bard College', 'Trinity University', 'Cooper Union', 'Claremont McKenna College', 'Villanova University', 'Trinity College', 'University of Richmond', 'Oberlin College', 'Johns Hopkins University', 'Carleton College', 'Rose-Hulman Institute of Technology', 'Carnegie Mellon University', 'Swarthmore College', 'Bowdoin College', 'Rensselaer Polytechnic Institute', 'Tufts University', 'University of Notre Dame', 'Lehigh University', 'Hillsdale College'}

State
{'WA', 'CT', 'TN', 'SC', 'MI', 'DC', 'VA', 'MA', 'OH', 'RI', 'MD', 'NY', 'ME', 'CA', 'KY', 'MO', 'IL', 'WI', 'NC', 'IN', 'CO', 'MN', 'IA', 'UT', 'TX', 'GA', 'PA'}

Undergrad. Enrollment
{1024.0, 1281.0, 6146.0, 3457.0, 1541.0, 1926.0, 7946.0, 7178.0, 1932.0, 2191.0, 4112.0, 16145.0, 5139.0, 917.0, 6302.0, 1055.0, 2848.0, 798.0, 2338.0, 19490.0, 2297.0, 1576.0, 9000.0, 939.0, 4910.0, 1454.0, 1840.0, 2098.0, 7219.0, 2998.0, 2107.0, 699.0, 1851.0, 6206.0, 67.0, 29379.0, 8261.0, 1220.0, 1479.0, 1735.0, 2506.0, 1485.0, 4045.0, 1869.0, 7375.0, 465.0, 2772.0, 2261.0, 1750.0, 2647.0, 4695.0, 10328.0, 1882.0, 2395.0, 3041.0, 4706.0, 2787.0, 2147.0, 1121.0, 2406.0, 5475.0, 2536.0, 1897.0, 1642.0, 1645.0, 1902.0, 1389.0, 3057.0, 2801.0, 1265.0, 1657.0, 2300.0}

Admission Rate
{'35%', '33%', '30%', '87%', '62%', '71%', '45%', '61%', '32%', '14%', '70%', '78%', '37%', '51%', '40%', '53%', '58%', '42%', '36%', '46%', '47%', '34%', '31%', '25%', '68%', '28%', '41%', '82%', '44%', '69%', '38%', '52%', '27%', '72%', '48%', '50%', '24%', '73%', '43%', '65%', '21%', '77%', '54%'}

*SAT or ACT
{'96%', '95%', '83/90%', '62/71%', '89/89%', '87/80%', '75/95%', '71/80%', '83/91%', '50/77%', '66/70%', '74/85%', '55/60%', '79/91%', '65/70%', '83%', '87/88%', '88/88%', '84/83%', '77/82%', '70%', '85/67%', '93/98%', '59/85%', '49/55%', '70/69%', '74%', '87/81%', '97/100%', '89/92%', '79/87%', '65/64%', '84%', '91/94%', '79/86%', '86%', '81/83%', '99/100%', '74/83%', '78/85%', '85/93%', '87/92%', '87/86%', '82%', '95/75%', '80/70%', '62/91%', '87/85%', '81/90%', '100/100%', '68/72%', '85/78%', '91%', '72%', '88/92%', '86/89%', '66%', '72/66%', '57/74%', '68/92%', '89%', '71/76%', '88/89%', '56/71%', '73/79%', '63/78%', '89/94%', '80/81%', '94/98%', '89/95%'}

Student/faculty Ratio
{3.0, 5.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 17.0, 18.0}

4-year Grad. Rate
{'49%', '71%', '62%', '81%', '83%', '60%', '61%', '70%', '59%', '78%', '51%', '76%', '74%', '53%', '58%', '31%', '68%', '75%', '86%', '88%', '0%', '80%', '82%', '63%', '57%', '67%', '52%', '72%', '79%', '48%', '89%', '65%', '77%'}

6-year Grad. Rate
{'95%', '87%', '71%', '81%', '83%', '85%', '92%', '78%', '93%', '76%', '74%', '84%', '75%', '68%', '86%', '88%', '80%', '67%', '69%', '91%', '72%', '79%', '89%', '73%', '77%', '90%'}

Quality Rank
{4.0, 10.0, 11.0, 15.0, 16.0, 17.0, 19.0, 25.0, 27.0, 29.0, 30.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0}

Total Costs
{'$32,682 ', '$23,353 ', '$38,847 ', '$29,879 ', '$27,820 ', '$35,670 ', '$28,350 ', '$37,688 ', '$9,663 ', '$36,455 ', '$36,851 ', '$32,150 ', '$37,968 ', '$37,246 ', '$35,392 ', '$29,983 ', '$38,838 ', '$30,080 ', '$27,272 ', '$38,668 ', '$31,679 ', '$32,625 ', '$37,272 ', '$30,225 ', '$32,875 ', '$37,745 ', '$14,652 ', '$34,706 ', '$39,200 ', '$30,917 ', '$39,188 ', '$35,275 ', '$36,635 ', '$24,723 ', '$38,817 ', '$34,472 ', '$36,560 ', '$40,080 ', '$40,240 ', '$31,460 ', '$35,713 ', '$32,847 ', '$37,940 ', '$30,894 ', '$39,173 ', '$29,430 ', '$36,500 ', '$36,580 ', '$30,264 ', '$36,273 ', '$38,460 ', '$8,079 ', '$32,802 ', '$38,676 ', '$38,282 ', '$39,101 ', '$27,086 ', '$39,253 ', '$36,079 ', '$36,600 ', '$30,780 ', '$27,076 ', '$35,288 ', '$38,663 ', '$28,529 ', '$33,776 ', '$37,730 ', '$40,105 ', '$38,880 ', '$38,463 ', '$38,443 ', '$37,937 ', '$38,890 '}

Cost After Need-based Aid
{'$13,853 ', '$16,706 ', '$17,386 ', '$18,011 ', '$19,474 ', '$15,531 ', '$18,431 ', '$17,947 ', '$21,023 ', '$18,323 ', '$17,588 ', '$18,858 ', '$20,376 ', '$16,585 ', '$21,081 ', '$16,902 ', '$18,899 ', '$15,452 ', '$7,621 ', '$24,689 ', '$21,455 ', '$21,940 ', '$10,981 ', '$11,167 ', '$17,458 ', '$28,677 ', '$15,678 ', '$17,905 ', '$19,123 ', '$21,196 ', '$15,147 ', '$17,452 ', '$15,494 ', '$15,842 ', '$20,925 ', '$16,516 ', '$20,297 ', '$28,282 ', '$17,882 ', '$21,176 ', '$26,447 ', '$16,296 ', '$18,466 ', '$19,996 ', '$17,826 ', '$21,677 ', '$17,988 ', '$17,609 ', '$19,142 ', '$23,846 ', '$16,394 ', '$19,753 ', '$21,316 ', '$17,773 ', '$20,700 ', '$20,558 ', '$22,257 ', '$20,971 ', '$14,779 ', '$20,115 ', '$22,360 ', '$5,579 ', '$19,667 ', '$24,470 ', '$26,463 ', '$25,866 ', '$17,341 ', '$22,041 ', '$17,984 ', '$19,657 ', '$19,544 ', '$21,606 ', '$19,268 '}

Need Met
{'96%', '95%', '87%', '71%', '98%', '81%', '83%', '60%', '97%', '70%', '92%', '40%', '76%', '84%', '86%', '88%', '94%', '99%', '69%', '20%', '91%', '100%', '77%', 'NA%', '90%'}

Aid From Grants
{'87%', '62%', '71%', '81%', '83%', '64%', '85%', '70%', '78%', '93%', '74%', '76%', '53%', '56%', '46%', '75%', '68%', '86%', '88%', '80%', '82%', '63%', '57%', '67%', '72%', '66%', '79%', '27%', '100%', '73%', '65%', '77%'}

Cost After Non-Need-Based Aid
{'$32,160 ', '$37,477 ', '$24,255 ', '$6,523 ', '$25,660 ', '$28,368 ', '$29,638 ', '$33,390 ', '$21,193 ', '$22,063 ', '$14,653 ', '$23,231 ', '$16,853 ', '$21,467 ', '$34,477 ', '$20,538 ', '$19,002 ', '$23,095 ', '$20,230 ', '$21,687 ', '$30,308 ', '$25,776 ', '$28,411 ', '$29,438 ', '$19,645 ', '$21,296 ', '$28,381 ', '$29,161 ', '$31,570 ', '$26,304 ', '$23,690 ', '$21,977 ', '$25,952 ', '$22,678 ', '$21,227 ', '$21,714 ', '$26,683 ', '$32,968 ', '$29,916 ', '$21,813 ', '$30,581 ', '$22,418 ', '$37,663 ', '$26,599 ', '$36,538 ', '$27,245 ', '$28,720 ', '$24,206 ', '$25,254 ', '$23,312 ', '$21,355 ', '$8,079 ', '$28,630 ', '$23,338 ', '$32,890 ', '$27,438 ', '$24,751 ', '$24,515 ', '$25,183 ', '$27,419 ', '$20,907 ', '$23,049 ', '$25,093 ', '$18,553 ', '$28,306 ', '$16,455 ', '$21,205 ', '$25,050 ', '$11,404 ', '$23,615 ', '$33,701 ', '$33,222 ', '$33,355 '}

Non-Need-Based Aid+
{'35%', '23%', '33%', '10%', '30%', '81%', '45%', '60%', '9%', '1%', '12%', '14%', '4%', '92%', '7%', '8%', '40%', '22%', '76%', '53%', '58%', '42%', '15%', '36%', '11%', '34%', '31%', '25%', '68%', '82%', '55%', '2%', '17%', '67%', '19%', '26%', '38%', '20%', '27%', '72%', '66%', '13%', '5%', '100%', '48%', '50%', '24%', '65%', '39%', '6%', '54%'}

Average Debt
{'$13,854 ', '$11,000 ', '$24,769 ', '$14,500 ', '$19,656 ', '$15,100 ', '$17,741 ', '$20,219 ', '$20,619 ', '$16,063 ', '$17,000 ', '$12,759 ', '$13,697 ', '$12,941 ', '$19,911 ', '$20,753 ', '$27,000 ', '$17,380 ', '$15,634 ', '$20,025 ', '$9,250 ', '$15,000 ', '$18,311 ', '$13,600 ', '$16,972 ', '$14,481 ', '$16,115 ', '$17,400 ', '$14,989 ', '$17,722 ', '$20,680 ', '$14,543 ', '$14,300 ', '$18,806 ', '$14,942 ', '$21,830 ', '$24,590 ', '$13,926 ', '$16,732 ', '$15,864 ', '$20,000 ', '$28,217 ', '$15,307 ', '$15,400 ', '$24,023 ', '$10,244 ', '$16,920 ', '$20,850 ', '$14,551 ', '$16,856 ', '$13,500 ', '$16,914 ', '$15,117 ', '$15,725 ', '$17,675 ', '$5,700 ', '$15,499 ', '$21,125 ', '$0 ', '$21,495 ', '$25,595 ', '$19,195 ', '$14,030 ', '$15,560 ', '$14,200 ', '$17,586 ', '$12,705 '}

Cost Rank
{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 36.0, 37.0, 39.0, 40.0, 41.0, 42.0, 45.0, 48.0, 49.0, 50.0, 51.0, 52.0, 54.0, 55.0, 56.0, 58.0, 60.0, 61.0, 63.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0, 79.0, 80.0, 81.0, 83.0, 86.0, 87.0, 90.0, 94.0, 96.0, 100.0}

Removing NA% from Need Met column

In [12]:
idxs = clean_data_frame.index

In [13]:
na_vals = (clean_data_frame['Need Met'] == "NA%").tolist()
na_idxs = []
for idx, val in zip(idxs, na_vals):
    if val:
        na_idxs.append(idx)
print(na_idxs)

[84]

In [14]:
clean_data_frame.drop(na_idxs, inplace=True)

Splitting SAT / ACT to different columns

In [15]:
col = clean_data_frame['*SAT or ACT']
indx = clean_data_frame.index
idxs = [] # indices of rows having incomplete values
for idx, val in zip(indx, col):
    if "/" not in val:
        idxs.append(idx)
    
print("Indexes with incomplete data ", idxs)
clean_data_frame.drop(idxs, inplace=True)

Indexes with incomplete data  [38, 45, 46, 59, 60, 63, 64, 68, 69, 73, 78, 80, 85]

In [16]:
#function for converting sat or act to sat data in new column
def satconverter(x):
    if '/' in x:
        return float(x.split('/')[0])
#function for converting sat or act to act data in new column
def actconverter(x):
    if '/' in x:
        return float(x.split('/')[1].replace("%", ""))

In [17]:
clean_data_frame['SAT'] = clean_data_frame['*SAT or ACT'].apply(satconverter)
clean_data_frame['ACT'] = clean_data_frame['*SAT or ACT'].apply(actconverter)

In [18]:
clean_data_frame.drop('*SAT or ACT', axis=1, inplace=True)

In [19]:
# Function for removing $ nad , signs.
def money_str_to_int(x):
    temp = x
    temp = temp.replace(',', '')
    temp = temp.replace('$', '')
    temp = int(temp)
    return temp

In [20]:
# Function for removing $ nad , signs.
def percent_str_to_int(x):
    temp = x
    temp = temp.replace('%', '')
    temp = int(temp)
    return temp

In [21]:
money_cols = ['Total Costs', 'Cost After Need-based Aid', 'Cost After Non-Need-Based Aid', 'Average Debt']

for col in money_cols:
    clean_data_frame[col] = clean_data_frame[col].apply(money_str_to_int)

In [22]:
percent_cols = ['Admission Rate', '4-year Grad. Rate', '6-year Grad. Rate',
                'Need Met', 'Non-Need-Based Aid+', 'Aid From Grants']

for col in percent_cols:
    clean_data_frame[col] = clean_data_frame[col].apply(percent_str_to_int)

In [23]:
clean_data_frame.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank,SAT,ACT
0,1.0,California Institute of Technology,CA,939.0,21,3.0,71,85,10.0,32682,10981,100,93,18553,15,10244,4.0,99.0,100.0
1,2.0,Rice University,TX,2787.0,24,5.0,68,89,19.0,28350,14779,100,88,22418,34,12705,5.0,89.0,92.0
3,4.0,Swarthmore College,PA,1479.0,24,8.0,86,92,4.0,38676,17386,100,85,11404,2,12759,21.0,94.0,98.0
5,6.0,Webb Institute,NY,67.0,42,7.0,79,83,39.0,8079,5579,20,100,8079,100,5700,1.0,100.0,100.0
7,8.0,Washington and Lee University,VA,1750.0,31,11.0,86,89,30.0,30225,15452,99,87,22063,31,15634,9.0,89.0,89.0

In [24]:
clean_data_frame.dtypes

Overall Rank                     float64
School                            object
State                             object
Undergrad. Enrollment            float64
Admission Rate                     int64
Student/faculty Ratio            float64
4-year Grad. Rate                  int64
6-year Grad. Rate                  int64
Quality Rank                     float64
Total Costs                        int64
Cost After Need-based Aid          int64
Need Met                           int64
Aid From Grants                    int64
Cost After Non-Need-Based Aid      int64
Non-Need-Based Aid+                int64
Average Debt                       int64
Cost Rank                        float64
SAT                              float64
ACT                              float64
dtype: object

## Questions
### Normalize each attribute of college dataset into range 0 to 1 (Refer to slides to do min-max normalization).

In [25]:
def normalise(df, col_name):
    min_val = min(df[col_name])
    max_val = max(df[col_name])
    
    range_ = max_val - min_val
    
    df[col_name] = (df[col_name] - min_val) / range_

In [26]:
normalised_data_frame = clean_data_frame.copy()

In [27]:
norm_cols = ['Undergrad. Enrollment', 'Admission Rate', 'Student/faculty Ratio', '4-year Grad. Rate', 
        '6-year Grad. Rate', 'Total Costs','Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
        'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt', 'SAT', 'ACT']

for col in norm_cols:
    normalise(normalised_data_frame, col)

In [28]:
normalised_data_frame.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank,SAT,ACT
0,1.0,California Institute of Technology,CA,0.044895,0.109375,0.000000,0.797753,0.629630,10.0,0.764995,0.233873,1.0000,0.904110,0.354043,0.141414,0.363044,4.0,0.980392,1.000000
1,2.0,Rice University,TX,0.140040,0.156250,0.142857,0.764045,0.777778,19.0,0.630298,0.398303,1.0000,0.835616,0.484688,0.333333,0.450260,5.0,0.784314,0.822222
3,4.0,Swarthmore College,PA,0.072697,0.156250,0.357143,0.966292,0.888889,4.0,0.951370,0.511170,1.0000,0.794521,0.112392,0.010101,0.452174,21.0,0.882353,0.955556
5,6.0,Webb Institute,NY,0.000000,0.437500,0.285714,0.887640,0.555556,39.0,0.000000,0.000000,0.0000,1.000000,0.000000,1.000000,0.202006,1.0,1.000000,1.000000
7,8.0,Washington and Lee University,VA,0.086650,0.265625,0.571429,0.966292,0.777778,30.0,0.688598,0.427440,0.9875,0.821918,0.472688,0.303030,0.554063,9.0,0.784314,0.755556

### Implement information gain analysis on the colleges dataset to find the gain of each attribute as covered in the class.

Assumption: We're splitting the data on the basis of college state.

In [29]:
# Three categories corresponding to low, medium, high
rank_categ = [(1, 33), (34, 67), (68, 100)]
norm_categ = [(0, 0.33), (0.34, 0.67), (0.68, 1)]

In [30]:
rank_cols = ['Overall Rank', 'Cost Rank', 'Quality Rank']

norm_cols = ['Undergrad. Enrollment', 'Admission Rate', 'Student/faculty Ratio', '4-year Grad. Rate', 
        '6-year Grad. Rate', 'Total Costs','Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
        'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt', 'SAT', 'ACT']

In [31]:
def information(vals):
    info = 0
    s = sum(vals)
    for x in vals:
        p = x/s
        if p != 0:
            info -= p * math.log(p, 2)
    return info

In [32]:
def entropy(p, info):
    ent = 0
    for i in range(len(p)):
        ent += p[i] * info[i]
    return ent

In [33]:
states = normalised_data_frame['State'].unique()
print(states)

['CA' 'TX' 'PA' 'NY' 'VA' 'GA' 'NC' 'IL' 'ME' 'MD' 'MO' 'IN' 'CO' 'MN'
 'IA' 'OH' 'MA' 'SC' 'CT' 'TN' 'WA' 'RI' 'DC']

In [34]:
state_count = normalised_data_frame['State'].value_counts().tolist()

In [35]:
state_information = information(state_count)
print('Information = ', state_information)

Information =  4.045413340232901

In [36]:
total_records = len(normalised_data_frame)

In [37]:
for col in norm_cols:
    infos = [] # information
    probs = [] # probabilities
    
    data_col = normalised_data_frame[col]
    
    for low, hi in norm_categ:
        freq_list = [] # frequencies of records satisfying the category and state
        req_categ = data_col.between(low, hi, inclusive=True)
        for state in states:
            state_rec = req_categ.loc[normalised_data_frame['State'] == state].tolist()
            freq = sum(state_rec)
            freq_list.append(freq)
        infos.append(information(freq_list))
        probs.append(sum(freq_list) / total_records)
    
    # Calculate entropy for this column
    entrpy = entropy(probs, infos)
    gain = state_information - entrpy
    print("Gain({}) = {}".format(col, gain))

Gain(Undergrad. Enrollment) = 0.32092490940388974
Gain(Admission Rate) = 0.5517704556255469
Gain(Student/faculty Ratio) = 0.47370066625532337
Gain(4-year Grad. Rate) = 0.4288020592904811
Gain(6-year Grad. Rate) = 0.9006836830424207
Gain(Total Costs) = 0.41147245545127653
Gain(Cost After Need-based Aid) = 0.6279496275293859
Gain(Need Met) = 0.20969660534392753
Gain(Aid From Grants) = 0.6440307360837498
Gain(Cost After Non-Need-Based Aid) = 0.5432867778666317
Gain(Non-Need-Based Aid+) = 0.6031368307054676
Gain(Average Debt) = 0.543601539010218
Gain(SAT) = 0.8305841041020168
Gain(ACT) = 0.7980571038113808

In [38]:
for col in rank_cols:
    infos = [] # information
    probs = [] # probabilities
    
    data_col = normalised_data_frame[col]
    
    for low, hi in rank_categ:
        freq_list = [] # frequencies of records satisfying the category and state
        req_categ = data_col.between(low, hi, inclusive=True)
        for state in states:
            state_rec = req_categ.loc[normalised_data_frame['State'] == state].tolist()
            freq = sum(state_rec)
            freq_list.append(freq)
        infos.append(information(freq_list))
        probs.append(sum(freq_list) / total_records)
    
    # Calculate entropy for this column
    entrpy = entropy(probs, infos)
    gain = state_information - entrpy
    print("Gain({}) = {}".format(col, gain))

Gain(Overall Rank) = 0.6545869443348256
Gain(Cost Rank) = 0.6604397204024708
Gain(Quality Rank) = 0.6555037878503662