# Pandas Exercise
## Required Imports

In [1]:
import numpy as np
import pandas as pd

## Data Loading

In [2]:
!ls data/

'Online Retail.csv'  'Top 100 Private Colleges.2003.csv'

In [3]:
file_path = "data/Top 100 Private Colleges.2003.csv"

In [4]:
data = pd.read_csv(file_path)

In [5]:
data.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank
0,1.0,California Institute of Technology,CA,939.0,21%,99/100%,3.0,71%,85%,10.0,"$32,682","$10,981",100%,93%,"$18,553",15%,"$10,244",4.0
1,2.0,Rice University,TX,2787.0,24%,89/92%,5.0,68%,89%,19.0,"$28,350","$14,779",100%,88%,"$22,418",34%,"$12,705",5.0
2,3.0,Williams College,MA,1985.0,23%,93/93%,8.0,89%,94%,1.0,"$36,550","$14,737",100%,89%,"$33,251",NaN,"$12,316",26.0
3,4.0,Swarthmore College,PA,1479.0,24%,94/98%,8.0,86%,92%,4.0,"$38,676","$17,386",100%,85%,"$11,404",2%,"$12,759",21.0
4,5.0,Amherst College,MA,1618.0,18%,94/92%,9.0,84%,94%,5.0,"$38,492","$14,453",100%,92%,"$33,411",NaN,"$11,544",38.0

In [6]:
data.dtypes

Overall Rank                     float64
School                            object
State                             object
Undergrad. Enrollment            float64
Admission Rate                    object
*SAT or ACT                       object
Student/faculty Ratio            float64
4-year Grad. Rate                 object
6-year Grad. Rate                 object
Quality Rank                     float64
Total Costs                       object
Cost After Need-based Aid         object
Need Met                          object
Aid From Grants                   object
Cost After Non-Need-Based Aid     object
Non-Need-Based Aid+               object
Average Debt                      object
Cost Rank                        float64
dtype: object

## Questions
### List the top 10 quality ranked colleges

In [7]:
quality_ranks = data['Quality Rank']
quality_ranks.dtypes

dtype('float64')

In [8]:
quality_ranks = quality_ranks.sort_values()

In [9]:
sorted_idxs = quality_ranks.keys()[:10]

In [10]:
colleges = data['School']
top_10_colleges = colleges[sorted_idxs]

In [11]:
print('Rank\t College')
for rank, college in enumerate(top_10_colleges):
    print(rank+1,"\t", college)

Rank	 College
1 	 Williams College
2 	 Massachusetts Institute of Technology
3 	 Yale University
4 	 Swarthmore College
5 	 Amherst College
6 	 Stanford University
7 	 Princeton University
8 	 Harvard University
9 	 University of Pennsylvania
10 	 California Institute of Technology

### List all the colleges in California

In [12]:
california_colleges = data['School'].loc[data['State'] == "CA"]

In [13]:
for college in california_colleges:
    print(college)

California Institute of Technology
Stanford University
Pomona College
Claremont McKenna College
Harvey Mudd College
University of Southern California
Scripps College

### Which college has lowest average debt?

In [14]:
average_debt = data['Average Debt'].dropna()
average_debt.dtypes

dtype('O')

In [15]:
average_debt.head()

0    $10,244
1    $12,705
2    $12,316
3    $12,759
4    $11,544
Name: Average Debt, dtype: object

In [16]:
# Removing $ and , signs
average_debt = average_debt.str.replace(',', '')
average_debt = average_debt.str.replace('$', '')
average_debt = average_debt.astype(int)

In [17]:
min_debt = min(average_debt)
idxs = []
for idx, val in enumerate(average_debt):
    if val == min_debt:
        idxs.append(idx)
print(min_debt)

0

In [18]:
min_debt_schools = data['School'].loc[idxs]

In [19]:
for school in min_debt_schools:
    print(school)

Washington University
Dartmouth College
Macalester College
Brandeis University
Bryn Mawr College
Trinity University
University of Rochester
Babson College
The George Washington University

### List bottom 10 cost rank colleges

In [20]:
cost_ranks = data['Cost Rank'].dropna()
cost_ranks.dtypes

dtype('float64')

In [21]:
cost_ranks = cost_ranks.sort_values(ascending=False)

In [22]:
sorted_idxs = cost_ranks.keys()[:10]

In [23]:
colleges = data[['School', 'Cost Rank']]
bottom_10_colleges = colleges.loc[sorted_idxs]

In [24]:
print(bottom_10_colleges)

                              School  Cost Rank
90               New York University      100.0
41               Wesleyan University       99.0
36                Middlebury College       98.0
32             Georgetown University       97.0
99  The George Washington University       96.0
40                Cornell University       95.0
97  Rensselaer Polytechnic Institute       94.0
22        University of Pennsylvania       93.0
26                 Dartmouth College       92.0
33                  Brown University       91.0

### Among colleges having more than 2000 undergraduates, which has highest faculty/student ratio.

In [25]:
# colleges = colleges_with_more_than_2000_ug
colleges = data[['School' ,'Student/faculty Ratio']].loc[data["Undergrad. Enrollment"] > 2000]
colleges.dtypes

School                    object
Student/faculty Ratio    float64
dtype: object

In [26]:
unique_vals = colleges['Student/faculty Ratio'].unique()
print(unique_vals)

[ 5.  7.  8.  6. 11.  9. 12. 10. 13. 18. 17. 14.]

In [27]:
ratio = min(unique_vals)

In [28]:
req_colleges = colleges['School'].loc[colleges['Student/faculty Ratio'] == ratio]

In [29]:
for college in req_colleges:
    print(college)

Rice University
Princeton University

### Which college has aid in grant more than 80% and costliest in total cost?

In [30]:
# colleges = colleges with aid in grant more than 80%
colleges = data[['School' ,'Total Costs', "Aid From Grants"]].loc[data["Aid From Grants"] > "80%"]

In [31]:
print(colleges)

                                   School Total Costs Aid From Grants
0      California Institute of Technology    $32,682              93%
1                         Rice University    $28,350              88%
2                        Williams College    $36,550              89%
3                      Swarthmore College    $38,676              85%
4                         Amherst College    $38,492              92%
6                         Yale University    $38,432              89%
7           Washington and Lee University    $30,225              87%
8                      Harvard University    $38,831              90%
9                     Stanford University    $38,875              86%
10                   Princeton University    $40,169              94%
11  Massachusetts Institute of Technology    $39,213              85%
14                    Columbia University    $39,493              86%
16                       Davidson College    $34,706              82%
17                      Wellesley College    $37,419              88%
19                      Haverford College    $38,928              90%
21                        Bowdoin College    $38,663              85%
25                  Washington University    $39,253              81%
27              Claremont McKenna College    $37,730              86%
29                     Colgate University    $38,820              85%
30                   The Colorado College    $35,275              88%
33                       Brown University    $40,248              83%
39                          Bates College    $38,932              85%
42                          Colby College    $38,699              93%
43                    Bucknell University    $36,165              94%
44                         Kenyon College    $36,273              85%
48                        Barnard College    $37,940              82%
53                      Bryn Mawr College    $37,890              86%
55                       Tufts University    $39,173              85%
66                       Hamilton College    $38,463              85%
67                      DePauw University    $32,150              82%
71                        Trinity College    $38,890              85%
81                    Connecticut College    $37,057              86%
87                           Reed College    $37,900              90%
88                           Bard College    $38,282              83%

In [32]:
# Removing $ and , signs
colleges['Total Costs'] = colleges['Total Costs'].str.replace(',', '')
colleges['Total Costs'] = colleges['Total Costs'].str.replace('$', '')
colleges['Total Costs'] = colleges['Total Costs'].astype(int)

In [33]:
max_cost = max(colleges['Total Costs'])
print(max_cost)

40248

In [34]:
req_colleges = colleges.loc[colleges['Total Costs'] == max_cost]

In [35]:
print(req_colleges)

              School  Total Costs Aid From Grants
33  Brown University        40248             83%

### Among top 50 quality rank colleges, which has lowest total cost

In [36]:
# colleges = top 50 quality ranked colleges
colleges = data[['School' ,'Total Costs', "Quality Rank"]].loc[data["Quality Rank"] <= 50]

In [37]:
print(colleges)

                                   School Total Costs  Quality Rank
0      California Institute of Technology    $32,682           10.0
1                         Rice University    $28,350           19.0
2                        Williams College    $36,550            1.0
3                      Swarthmore College    $38,676            4.0
4                         Amherst College    $38,492            5.0
5                          Webb Institute     $8,079           39.0
6                         Yale University    $38,432            3.0
7           Washington and Lee University    $30,225           30.0
8                      Harvard University    $38,831            8.0
9                     Stanford University    $38,875            6.0
10                   Princeton University    $40,169            7.0
11  Massachusetts Institute of Technology    $39,213            2.0
12                         Pomona College    $38,130           21.0
13                       Emory University    $37,272           15.0
14                    Columbia University    $39,493           13.0
15                        Duke University    $40,080           11.0
16                       Davidson College    $34,706           27.0
17                      Wellesley College    $37,419           32.0
18                         Vassar College    $37,870           22.0
19                      Haverford College    $38,928           20.0
20                Northwestern University    $38,817           17.0
21                        Bowdoin College    $38,663           25.0
22             University of Pennsylvania    $39,040            9.0
23               Johns Hopkins University    $39,188           29.0
25                  Washington University    $39,253           16.0
26                      Dartmouth College    $38,898           12.0
27              Claremont McKenna College    $37,730           37.0
28               University of Notre Dame    $35,392           36.0
29                     Colgate University    $38,820           31.0
31                 University of Richmond    $31,679           48.0
32                  Georgetown University    $39,182           14.0
33                       Brown University    $40,248           23.0
34                       Carleton College    $35,288           34.0
35                      Lafayette College    $35,713           47.0
36                     Middlebury College    $39,532           18.0
38           Illinois Wesleyan University    $30,780           44.0
39                          Bates College    $38,932           28.0
40                     Cornell University    $38,974           26.0
41                    Wesleyan University    $39,127           24.0
42                          Colby College    $38,699           33.0
43                    Bucknell University    $36,165           43.0
48                        Barnard College    $37,940           46.0
49                    Brandeis University    $39,101           38.0
50              College of the Holy Cross    $36,851           41.0
51                    Harvey Mudd College    $38,880           35.0
52                 Wake Forest University    $36,079           42.0
53                      Bryn Mawr College    $37,890           45.0
55                       Tufts University    $39,173           40.0
56                        Oberlin College    $37,688           50.0
57                  Mount Holyoke College    $38,668           49.0

In [38]:
# Removing $ and , signs
colleges['Total Costs'] = colleges['Total Costs'].str.replace(',', '')
colleges['Total Costs'] = colleges['Total Costs'].str.replace('$', '')
colleges['Total Costs'] = colleges['Total Costs'].astype(int)

In [39]:
min_cost = min(colleges['Total Costs'])

In [40]:
req_colleges = colleges.loc[colleges['Total Costs'] == min_cost]

In [41]:
print(req_colleges)

           School  Total Costs  Quality Rank
5  Webb Institute         8079          39.0